'.source.meson':
  'editor':
    'tabLength': 2
    'softTabs': true
    'commentStart': '# '
    'increaseIndentPattern': '^\\s*(if|elif|else|foreach)\\b.*$'
    'decreaseIndentPattern': '^\\s*(endif|elif|else|endforeach)\\s*$'
